body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e6f4f1;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: black;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-profile-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

/*******************************HOME PAGE*****************************************/
.background-image {
    position: relative;
    padding: 150px;
    color: #fff;
    overflow: hidden;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/background/background_5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;
}

.background-image h1 {
    margin-top: -150px;
    margin-bottom: 0;
    color: white;
    font-size: 64px;
}

.home-info{
    padding-top: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.home-info p{
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 100;
}

.home-info {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-info h2 {
    color: #333;
}

.home-info p {
    color: #555;
    margin-bottom: 20px;
}

.home-info ol {
    list-style: none;
    padding: 0;
}

.home-info li {
    margin-bottom: 20px;
}

.home-info li strong {
    color: #333;
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.home-info li p {
    color: #555;
}
/***************************NACIGATION BAR CSS*************************************/
.navigation {
    width: 100%;
    overflow: auto;
    background-color: #015675;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}




.navigation ul {
    padding: 0;
    margin: 0 0 0 80px;
    list-style: none;
}


.navigation li {
    float: left;
    margin-right: 40px;
}

li::marker {
    content: none;
}

/* Tīmekļa vietnes logo*/
.logo img {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    max-height: 40px; /* Set a maximum height for the logo image */
}


/* Navbar linki */
.navigation a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
}

.navigation a:hover {
    background-color: #232D3F;
    color: #FFFFFF;
}


.navigation a + a {
    margin-left: 10px;
}

.login img
{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    max-height: 40px;
}

.register {
    position: absolute;
    right: 70px;
    margin-top: 15px;
    margin-left: 10px;
    max-height: 5px;

}

.pagination{
    width: 100%;
    text-align: center;
    padding: 0;
}

.pagination li{
    display: inline;
    padding: 8px 16px;
    border-radius: 5px;
}

.pagination li a{
    color: black;
    text-decoration: none;

}

.active{
    color: white;
    background-color: #176B87;
}

.pagination li:hover:not(.active) {background-color: #ddd;}




/****************************************TEAM CONTAINER CSS**********************************************/

.team-background{
    background-color: #fff6ff;
    padding: 40px;
    width: 60%;
    margin: 0 auto;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.team {
    width: 20%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 240px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.team-logo {
    max-width: 100%;
}

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.team-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
}
/***********************************PLAYER CSS********************************/
.player-background{
    background-color: #fff6ff;
    padding: 40px;
    width: 60%;
    margin: 0 auto;
}

.player-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.player-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20px;

}


.player-card {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 270px;
}


.player-name {
    font-size: 20px;
    font-weight: bold;
}


.player-info {
    margin-bottom: 10px;
}


.player-card a {
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}


.player-card a:hover {
    color: #0056b3;
}

.player-image {
    border-radius: 50%;
    border: 2px solid #333;
    width: 100px;
    height: 100px;
    background-color:black;
}


.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.search-input-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}


.search-input {
    padding: 10px;
    border: none;
    outline: none;
    width: 300px;
}


.search-button {
    background-color: #474554;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.search-button:hover {
    background-color: #0056b3;
}

#no-player-found {
    color: rgb(197, 19, 19);
    align-items: center;
    margin-left:250px;

}

.create-player-link{
    background-color: #55cb92;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  .create-player-link:hover{
    background-color: #46ae7c;
    color: white;
  }
  .player-team-logo{
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    vertical-align: middle;
  }

  .player-team-logo-his{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    vertical-align: middle;
  }
/***********************************PLAYER HISTORY CSS********************************/
.player-history-table{
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    margin: 0 auto 25px;
    font-size: 0.9em;
    min-width: 400px;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.player-history-table thead tr{
    background-color: #00ad9e;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.player-history-table th,
.player-history-table td{
padding: 12px 15px;
}

.player-history-table tbody tr{
   border-bottom: 1px solid #dddddd;
}

.player-history-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.player-history-table tbody tr:last-of-type{
    border-bottom: 2px solid #00ad9e;
}

.player-image-his
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #333;
    width: 150px;
    height: 150px;
    background-color:black;
}

/**************************************FOOTER***********************************/
footer {
    background-color: #015675;
    color: #ffffff;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
    bottom: 0;
    position: relative;
    width: 98%;
}



/*************************CREATE PLAYER FORM CSS**********************************/
.create-player{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom, #176b87, #286e93, #3c709d, #5271a5, #6872aa, #7972ac, #8971ac, #9970aa, #a76fa7, #b46fa3, #c06f9d, #ca6f97);
    overflow-x: hidden;
}

.create-player-button{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-left: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*************************************FLASH MESSAGE************************************/
.flash-message-container {
    text-align: center;
    margin-top: 20px;
  }


  .alert.alert-success {
    color: green;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid green;
    background-color: #f0f8eb;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
  }


  .flash-message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .flash-message.show {
    opacity: 1;
  }
/**************************USER REĢISTRĀCIJA FORM CSS*********************/
.reg-parent-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom, #176b87, #286e93, #3c709d, #5271a5, #6872aa, #7972ac, #8971ac, #9970aa, #a76fa7, #b46fa3, #c06f9d, #ca6f97);
  overflow-x: hidden;
}

.reg-container{
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 5vw 4vw 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.reg-container a
{
    text-decoration: none;
    color: #7972ac;
}

.reg-container a:hover
{
    text-decoration: none;
    color: #c06f9d;
}

.reg-container p, h2 {
    text-align: center;
}


.reg-input {
    margin:auto;
    margin-bottom: 35px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: black;
    position: relative;
}

.reg-input label {
    margin-bottom: 10px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-btn {
    background-color: #176B87;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 50%;
}

.register-btn:hover {
    background-color: #6872aa;
}

.error{
    color: red;
    height: 25px;
    font-size: 14px;
    display: block;
    position: absolute;
    top:25px;
}

.welcome-message {
    position: absolute;
    top: 0;
    margin-left: 1250px;
    margin-right: 40px;
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

.logout
{
    position: absolute;
    right: 10px;
    margin-top: 15px;
    margin-left: 10px;
    max-height: 40px;
    border: none;
    background: none;
    outline: none;
}

.edit-profile{
    position: absolute;
    right: 50px;
    margin-top: 10px;
    margin-left: 10px;
    max-height: 45px;
    border: none;
    background: none;
    outline: none;
}

/********************************************USER PROFILE VIEW******************************************/
.user-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-weight: 200;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

.profile-tag{
    font-size: large;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    padding: 20px;
    background-color: #386f9b;
}


  .favorites {
    display: flex;
    justify-content: space-around;
  }

  .favorite-item {
    width: 45%;
  }

  .no-favorite {
    width: 100%;
  }



  /*****************************ALL USERS VIEW CSS**************************************/
  .user-table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    margin: 0 auto 25px;
    font-size: 0.9em;
    min-width: 400px;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.user-table thead th {
    background-color: #00ad9e;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.user-table th,
.user-table td  {
    padding: 12px 15px;
}

.user-table tr{
    border-bottom: 1px solid #dddddd;
 }

 .user-table tbody tr:nth-of-type(even){
     background-color: #f3f3f3;
 }

 .user-table tbody tr:last-of-type{
     border-bottom: 2px solid #00ad9e;
 }

.user-table td button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

.user-table td button:hover {
    background-color: #c82333;
}

/**************************************GAME CSS***************************************/
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 140px;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 350px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

}

.team-logos {
    display: flex;
    align-items: center;
}

.team-logo img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 10px;
}

.score {
    font-size: 30px;
    margin: 0 10px;
    font-weight: 550;

}

.game-info {
    margin-top: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}


.game-time  {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.game-date{
    font-size: 18px;
}

.game-time-date{
    display: flex;
    flex-direction: column;
}

.today-game {
    background-color: red;
}

.game-link{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 12px;
    text-decoration: none; /* This removes the underline typically associated with links */
}

.game-link:hover {
    color: rgba(35, 35, 35, 0.82);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-decoration: none; /* This removes the underline typically associated with links */
}


.hidden {
    display: none;
  }

/*****************************************GOALIE CSS**************************************/
.golaie-container{
    background-color: #fff6ff;
    padding: 40px;
    width: 60%;
    margin: 0 auto;
}

.goalie-card{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.statistics {
    margin-top: 20px;
    text-align: center;
}

.statistics h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.statistics ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.statistics li {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
}

.stat-label{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

.stat-label,
.stat-value {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

/************************************GAME DETAILS CSS***************************************/
.game-details-head {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.team-logo-details {
    width: 120px;
    height: auto;
    margin: 0 200px;
}

.team-details{
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.vs-text {
    font-size: 18px;
    font-weight: 700;
    margin: 0 10px;
    font-family: "Inter", Arial, sans-serif;
}

.score-details {
    font-family: "Inter", Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin: 0 10px;
}

.score-home {
    margin-right: 300px;
}

.score-away {
    margin-left: 300px;
}

.sheet-header{
    font-family: 'Montserrat', sans-serif;
}

.game-sheet {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    margin: 0 auto 25px;
    font-size: 0.9em;
    min-width: 400px;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.game-sheet thead tr {
    background-color: #00ad9e;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}


.game-sheet th,
.game-sheet td  {
    padding: 12px 15px;
}


.game-sheet tr{
    border-bottom: 1px solid #dddddd;
 }

 .game-sheet tbody tr:nth-of-type(even){
     background-color: #f3f3f3;
 }

 .game-sheet tbody tr:last-of-type{
     border-bottom: 2px solid #00ad9e;
 }

/***********************************************POGU CSS*******************************************/

.btn {
    margin-bottom: 8px;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}

.favorite-button {
    background-color: #00ad9e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.favorite-button:hover {
    background-color: #008f88;
}

.favorite-button:active,
.favorite-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff;
}

.edit-game{
    background-color: #00ad9e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}
